<!DOCTYPE html>
<html>
   <head>
			<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
   </head>
   <body>
		 LOGGED IN: {{username}} (<a href="logout"> Logout </a>)
		<hr/>
		<div align="center">
		{% if forward %}
			<h1> Forward file </h1>
			{{forward}}
		<hr/>
		{% endif  %}	 	
		{% if procmail %}
			<h1> Procmail file </h1>
			<div align="left">
			{% for line in procmail.split("\n") %}
			{{line}} <br/>
			{% endfor %}
			</div>
		<hr/>
		{% endif  %}	 	
		</div>

		<form action="generate" method="post">
		Message: 
		<textarea name="msg" rows="10" cols="60">{{ msg if msg else ""}}</textarea>		
		<br/>
		<input type="submit" value="generate"/>
		</form>			
		<br/>
		<a href="delete?action=keep"> Delete (keep msg file) </a>
		<a href="delete?action=del"> Delete (delete msg file) </a>



   </body>
</html>
